body{
    font-family: 'ubuntu', sans-serif;
}
#title{
    background-color:#ff4c68;
    color: #fff;
}
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size:3.5rem;
    line height: 1.5;
    font-weight:900;
}
.container-fluid{
    padding: 1% 15%;
    font-size: large;
}
span{
    color:palegoldenrod;
}
/* Naigation bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight:bold;
}
.nav-list{
    padding: 0 18px;
}
.nav-link{
    font-family: 'montserrat';
    font-size: 1.2rem;
}

/* Download buttons */
.download-buttons{
    margin: 8% 3% 5% 0;
}

/* title-image */
.title-img{
    width: 55%;
    transform: rotate(25deg);
    margin-left: 15%;
}

/* features section */
h3{
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 1.2rem;
}
p{
    color: #8f8f8f;
}
#features{
    padding: 7% 15%;

}
.feature-box{
    text-align: center;
    padding: 4.5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1.5rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials section */

#testimonials{
    text-align: center;
    color: #fff;
    background-color: #ef8172;
    padding-bottom: 0%;
}
h2{
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonials-img{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
    margin-bottom: 5%;
}

/* Press section */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:1px;
}
.press-logo{
    width: 10%;
    margin:0 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
    padding-bottom: 3%;
}

/* pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
/* CTA section */
#cta{
    background-color: #ff4c68;
    color: white;
    padding:5%;
    text-align: center;
}
#footer{
    text-align: center;
}
.social-icon{
    padding: 30px 20px;
    text-decoration: none;
    color: #000;
}
@media (max-width: 980px){
    #title{
        text-align: center;
    }
    .title-img{
        transform: rotate(0);
    }
}